<h1>Ranking</h1>

<p><strong>Los mejores peleadores de hoy</strong></p>

<div class="row">
  <% unless @personas.empty? %>
    <div class="col-lg-6">
      <table class="table">
        <thead>
          <tr>
            <th>Peleador</th>
            <th>Puntos</th>
          </tr>
        </thead>
        <tbody>
          <% @personas.each do |persona| %>
            <tr>
              <td><%= persona["name"] %></td>
              <td><%= persona["puntos"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% end %>
</div>
