<h1>Acerca de esta aplicación</h1>
<p>Esta aplicación fue desarrollada para Nnodes para una entrevista de trabajo. Su intención es meramente mostrar las habilidades del autor para programar en Rails</p>

<p>El software usado para desarrollar esta aplicación es 100% libre y gratuito. Las tecnologías relevantes son</p>

<div class="card-deck">
  <div class="card">
    <%= image_tag "emacs.png", :class=>"card-img-top", :alt=>"Emacs" %>
    <div class="card-body">
      <h5 class="card-title">Emacs</h5>
      <p class="card-text">Emacs es un editor de texto de código libre</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "rails-logo.svg", :class=>"card-img-top", :alt=>"Ruby on Rails" %>
    <div class="card-body">
      <h5 class="card-title">Ruby on Rails</h5>
      <p class="card-text">Ruby on Rails es un framework para hacer aplicaciones web en el lado servidor.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "sidekiq.png", :class=>"card-img-top", :alt=>"Sidekiq" %>
    <div class="card-body">
      <h5 class="card-title">Sidekiq</h5>
      <p class="card-text">Sidekiq es una <em>Rubygem</em> que permite ejecutar trabajos en segundo plano.</p>
    </div>
  </div>
  <div class="card">
    <%= image_tag "tmux.png", :class=>"card-img-top", :alt=>"tmux" %>
    <div class="card-body">
      <h5 class="card-title">Tmux</h5>
      <p class="card-text">Tmux es un multiplexor de terminales</p>
    </div>
  </div>
</div>
